@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Serif:ital,opsz,wght,GRAD@0,8..144,300,-50..100;1,8..144,300,-50..100&family=Roboto:ital,wght@0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.body{
    max-width: 100vw;
    overflow-x: hidden;
}

.nav{
    height: 100px;
    display: flex;
}

img{
    width: 100%;
    max-width: 300px;
}

p{
    line-height: 1.5;
}

a{
    text-decoration: none;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container{
    padding: 50px 0;
}

.section{
    padding: 0 32px;
}

.section__title{
    font-size: 36px;
    text-align: center;
    margin-bottom: 24px;
}


.main{
    margin: 0 auto;
}

/* NAVIGATION BAR*/

.nav{
    height: 220px;
    display: flex;
    padding-top: 32px;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__row{;
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

ul{
    position: relative;
    float: right;
    
}

.nav__link--list{
    display: flex;
}

.Treact__links{
    padding: 12px 16px;
    text-decoration: none;
    justify-content: center;
    color: black;
    font-weight: 700;
    transition: all 300ms ease;

}

.Treact__link:hover{
    text-decoration: underline;
}

.Treact__link--primary{
    background-color: rgba(172, 69, 172);
    padding: 12px 16px;
    color: white;
    border-radius: 8px;
    text-underline-offset:all 300ms ease;
    transition: all 300ms ease;
}

.Treact__link--primary:hover{
    background-color: purple;
}


.personal__logo{
    font-size: 24px;
    color: purple;
    margin: 0 auto;
    font-weight: bold;
}
img{
    width: 100%;
    max-width: 160px;
}


/* ABOUT US*/

.nav__about--row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.about-Us__info--row{
    font-size: 36px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.about-Us__info--container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;

}

h1.section__title{
    font-size: 26px;
    color: black;
    display: flex;
    margin-bottom: 24px;
}

.project__description--para{
    font-size: 16px;
    max-width: 500px;
    line-height: 1.5;
    color: grey;
}

span.text--purple{
    color: purple;
}


.about__img{
    width: 60%;
    max-width: 200px;
    height: 200px;
    float: right;

    
}

button.about-Us__info--button{
    background-color: rgb(172, 69, 172);
    padding: 12px 16px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: all 300ms ease;
    float: right;
    margin-top: 40px;
}

.about-Us__info--button:hover{
    background-color: purple;
}

.nav__container{
    padding: 0 50px;
}

h1{
    font-size: 16px;
    line-height: 1.5;
}

label{
    font-size: 18px;
    color: blue;
}

input#email{
    background-color: lightblue;
    padding: 12px 16px;
    border-radius: 8px;
    
}

.customer__title{
    font-size: 10px;
    color:gray;
    margin-top: 10px;
}

.customer__img{
    width: 40%;
    float: left;
    margin-top: 10px;
    
}


/*FEATURES*/

.features__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.features{
    padding: 0 24px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container__features{
    padding: 80px 0;
}


.features__img{
    display: inline-flex;
    border: 2px solid purple;
    color: purple;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 32px;
    margin-bottom: 24px;
    margin-right: 180px;
}


.features__subtitle{
    font-size: 18px;
    margin-bottom: 24px;
}

.features__para{
    display: flex;
    flex-direction: column;
    color: grey;
    font-size: 12px;
}

.row__features{
    font-size: 16px;
    color: purple;
    text-decoration:none;
    text-align: center;
    padding: 150px;
}


h2{
    font-size: 32px;
    line-height: 2.0;
}

h3{
    font-size: 12px;
    line-height: 2.0;
    margin-bottom: 40px;
    color: grey;
}


/* Quality Work */

.quality__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.container__quality{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.quality__subtitle{
    font-size: 32px;
    width: 500px;
}

.row__quality{
    width: 100%;
    color: purple;
    max-width: 1200px;
    font-size: 18px;
    padding: 100px;
    margin: 0 auto;
}

.quality{
    font-size: 12px;
    width: 100%;
}

.quality__para{
    width: 100%;
    max-width: 500px;
    line-height: 1.5;
    color: grey;
}

