@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Serif:ital,opsz,wght,GRAD@0,8..144,300,-50..100;1,8..144,300,-50..100&family=Roboto:ital,wght@0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.body{
    max-width: 100vw;
    overflow-x: hidden;
}

.nav{
    height: 100px;
    display: flex;
}

img{
    width: 100%;
    max-width: 300px;
}

p{
    line-height: 1.5;
}

a{
    text-decoration: none;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container{
    padding: 50px 0;
}

.section{
    padding: 0 32px;
}

.section__title{
    font-size: 36px;
    text-align: center;
    margin-bottom: 24px;
}


.main{
    margin: 0 auto;
}

/* NAVIGATION BAR*/

.nav{
    display: flex;
    padding-top: 32px;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__row{;
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}


.nav__link--list{
    display: flex;
    padding: 15px 0;
}


ul{
    padding: 15px 0;
    float: right;
    gap: 15px;
    
}

.Treact__links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    transition: all 300ms ease;
}

.Treact__link{
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin:8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.Treact__link:hover{
    text-decoration: underline;
}

.Treact__link--primary{
    background-color: rgba(172, 69, 172);
    padding: 12px 12px;
    color: white;
    border:2px solid rgba(172, 69, 172);
    border-radius: 8px;
    text-underline-offset:all 300ms ease;
    transition: all 300ms ease;
}

.Treact__link--primary:hover{
    background-color: purple;
}


.personal__logo{
    font-size: 24px;
    color: purple;
    margin: 0 auto;
    font-weight: bold;
}
img{
    width: 100%;
    max-width: 160px;
}


/* ABOUT US*/

.landing{
    margin-top: 50px;
}



.nav__about--row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.about-Us__info--row{
   display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-Us__info--container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    margin-top: 80px;

}

h1.section__title{
    font-size: 26px;
    color: black;
    display: flex;
    margin-bottom: 24px;
}

.project__description--para{
    font-size: 16px;
    max-width: 500px;
    line-height: 1.5;
    color: grey;
}

span.text--purple{
    color: purple;
}


.about__img{
    width: 60%;
    max-width: 200px;
    height: 200px;
    float: right;
}

button.about-Us__info--button{
    background-color: rgb(172, 69, 172);
    padding: 12px 16px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: all 300ms ease;
    float: right;
    margin-top: 40px;
}

.about-Us__info--button:hover{
    background-color: purple;
}

.nav__container{
    padding: 0 50px;
}

h1{
    font-size: 16px;
    line-height: 1.5;
}

label{
    font-size: 18px;
    color: blue;
}

input#email{
    background-color: lightblue;
    padding: 12px 16px;
    border-radius: 8px;
    
}

.customer__title{
    font-size: 10px;
    color:gray;
    margin-top: 10px;
}

.customer__img{
    width: 40%;
    float: left;
    margin-top: 10px;
    
}


/*FEATURES*/

#features{
    position: relative;
}

.features__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.features{
    padding: 0 24px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container__features{
    padding: 80px 0;
}


.features__img{
    display: inline-flex;
    border: 2px solid purple;
    color: purple;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 32px;
    margin-bottom: 24px;
    margin-right: 180px;
}


.features__subtitle{
    font-size: 18px;
    margin-bottom: 24px;
}

.features__para{
    display: flex;
    flex-direction: column;
    color: grey;
    font-size: 12px;
}

#features .row__features{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__features{
    font-size: 16px;
    color: purple;
    text-decoration:none;
    text-align: center;
    padding: 150px;
}


h2{
    font-size: 32px;
    line-height: 2.0;
}

h3{
    font-size: 12px;
    line-height: 2.0;
    margin-bottom: 40px;
    color: grey;
}


/* Quality Work */

.quality__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.container__quality{
     border-radius: 4px;
   border: 1px solid rgb(229, 231,235);
   position: relative;
   margin: 0 56px;
   z-index: 2;
   display: flex;
}

.quality__subtitle{
    font-size: 32px;
    width: 500px;
}

#quality .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row__quality{
    width: 100%;
    color: purple;
    max-width: 1200px;
    font-size: 18px;
    padding: 100px;
    margin: 0 auto;
}

.quality{
    font-size: 12px;
    
}

.quality__para{
    width: 100%;
    max-width: 500px;
    line-height: 1.5;
    color: grey;
}

button.btn{
     background-color: rgb(172, 69, 172);
    padding: 12px 16px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: all 300ms ease;
    margin-top: 40px;
}

button.btn:hover{
    background-color: purple;
}

img.qaulity--img{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    z-index: 1;
}

.figure.qaulity__img{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}


svg.quality__grid{
   transform: translateX(-100%)
   translateY(-100%) scaleX(1)
   scaleY(1);
   width: 80px;
   height: 80px;
   position: absolute;
   right: 0px;
   bottom: 0px;
   fill: rgb(100, 21, 255)
   var(--tw-text-opacity);
   z-index: 0;
   display: block;
}

.path{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* STEPS */

.steps__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 96px 0;
    margin-top: 80px;
}

.steps__row{
    display: flex;
    font-size: 26px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin-top: -50px;
}

.section__tag{
    width:100%;
}

.step{
    align-items: flex-start;
    margin-top: 32px;
}

.step__img--wrapper{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #243e63;
}

.steps__img{
    width: 200px;
    height:400px;
    float: right;
    margin-top: 200px;
}

.step__number{
    color:#cbd5e0;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
}

.steps__description{
    font-size: 18px;
    display: flex;
    padding: 32px 0;
    padding-left: 60px;
    color: purple;
}

.step__title{
    font-weight: 600;
    font-size: 24px;
    color: purple;
    line-height: 1;
    margin-top: -58px;
}

p.step__para{
    font-size: 14px;
    color:#718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
    margin-top: -40px;
}

h2.sections__title{
    font-size: 32px;
    line-height: 2.0;
}
    

/* VALUES */

.values__container{
    padding: 96px 0;
}

.values__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.values__description{
    width: 50%;
    padding: 32px 64px 32px 0;
     font-size: 18px;
    color: purple;
    margin-bottom: 8px;
}

.sections__title{
    width: 100%;
    font-size: 36px;
    margin-top: 16px;
    line-height: 1.625;
}

.values__para{
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.values__list{
    max-width: 20rem;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
}

.value{
    margin-top: 32px;
    margin-right: 32px;
}

.value__title{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #243e63;
}

.value:nth-child(1)
.value__img--wrapper{
   background-color: #9ae6b4;
}

.value__img--wrapper{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    min-height: 36px; 
}

.value__para{
    margin-top: 16px;
    line-height: 1.625;
    color:#718096;
    font-family: Interstate, sans-serif;
}

.value__btn--primarybtn{
    background-color: rgb(172, 69, 172);
    padding: 16px 24px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: all 300ms ease;
    margin-top: 700px;
}

.value__btn--primarybtn:hover{
    background-color: purple;
}

.values__bg--img{
  width: 400px;
  max-width: 1200px;
}

/* PRICING */

.pricing__description{
    text-align: center;
    margin-bottom: 24px;
}

.sections__title{
    font-size: 32px;
    line-height: 2.0;
    margin-bottom: 16px;
    text-align: center;
}

.pricing__para{
    font-size: 16px;
    color: grey;
    margin-bottom: 40px;
    text-align: center;
}

.pricing__card--header{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    color: purple;
}

.personal__plans{
    font-size: 18px;
    background-color: rgb(129,230,217);
    border-radius: 60px;
}

.Business__plans{
    font-size: 18px;
    background-color: plum;
    border-radius: 60px;
}

.Enterprise__plans{
    font-size: 18px;
    background-color: lightblue;
    border-radius: 60px;

}

.pricing__card--features{
    margin-bottom: 24px;
    color: grey;
    font-size: 14px;
    float: left;
}

.plan__name{
    color: black;
    font-size: 20px;
}

.plan__price{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
    color: black;
}

.plan__duration{
    font-size: 16px;
    color: grey;
}

.plan__top{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #243e63;
    unicode-bidi: isolate;
    text-align: center;
}

.plan:nth-child(1)
.plan__middle,
.plan:nth-child(3){
    border-top: 2px solid rgb(78, 119, 185);
    border-bottom: 2px solid rgb(94, 135, 215);
}

.plan:nth-child(2)
.plan__middle{
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: purple;
}
 
div.plan__middle{
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1%;
    flex-shrink: 1%;
    flex-basis: 0%;
    flex-direction: column;
    padding: 2rem;
    line-height: 2.5;
}

.plan__bottom{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    box-sizing: border-box;
    color: #243e63;
    display: block;
    unicode-bidi: isolate;
}
        

.plan__stripe,
.plan:nth-child(1) button.plan__btn--secondarybtn{
   color:#f7fafc;
   background-image: linear-gradient(115deg, rgb(56, 178, 172), 0%,rgb(129,230,217),100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.plan__btn--secondarybtn{
   padding: 0.75rem 2rem;
   font-weight: 700;
   transition: all 300ms ease;
   border-radius: 500px;
   padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;
    cursor: pointer;
}

/*Testimonials*/

.testimonials__description{
    text-align: left;
    margin-top: 24px;
    color: purple;
}

.sections__title{
    font-size: 32px;
    line-height: 2.0;
    margin-bottom: 16px;
    text-align: left;
}

.testimonials__img{
    width: 500px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.testimonials__row{
    display: flex;
    flex-direction: column;
    width: 1000px;
    width-calc: (100%-40%);
    padding-left: 60px;
   
    
}

.testimonials__para{
    width: 50%;
    font-weight: 500;
    color: grey;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;

}

.testimonial__para{
    font-size: 18px;
    color: grey;
    margin-top: -28px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.testimonial__title{
    font-size: 20px;
    color: gray;
    margin-top: 10px;
}

.testimonials__img{
    width: 200px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-top: 50px;
    
}

.testimonial__ratings{
    color: #ecc94b;
    
}

.testimonial__profile{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,0.16);
    margin-bottom: 28px;
    margin-top: 20px;
}

.testimonial__name{
    font-size: 18px;
    display: block;
    margin-left: auto;
    font-weight: 900;
    color: black;
}

.testimonial__role{
    font-size: 14px;
    display: block;
    margin-left: auto;
    font-weight: 900;
    color: black;
}


.testimonial__buttons{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #243e63;
}

.testimonial__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
    cursor: pointer;
    border: none;
}

.start__container{
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.start__row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.start__title{
    font-size: 32px;
    max-width: 1000px;
    text-align: center;
    color: white;
    line-height: 2.0;
    margin-bottom: 16px;
    text-align: center;
}

.start__btn--primarybtn{
    background-color: plum;
    padding: 16px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: all 300ms ease;
    margin-top: 40px;
    margin-right: 32px;
}
.start__btn--primarybtn:hover{
    background-color: rgb(206, 65, 206);
}

.start__btn--secondarybtn{
    background-color: lightblue;
    padding: 16px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: all 300ms ease;
    margin-top: 40px;
}

.start__btn--secondarybtn:hover{
    background-color: rgb(56, 178, 172);
}

/* FOOTER */

.footer{
    background-color: purple;
    padding: 96px 0;
}

.footer__row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.footer__column{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;

}

.footer__link.plan:nth-child(2){
    margin-top: 24px;
}

.footer__link{
    color:black;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    display: inline;
    margin-right: 20px;
}

.footer__column--title{
    color: blue;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}